@import 'variables';
@import 'colors';

.book {
  box-shadow: 4px 4px 10px 0 $half-black;
  height: 370px;
  margin: 20px 27.5px;
  padding: 30px;
  transition: all .1s ease-in-out;
  width: 198px;

  &-container {
    position: relative;
    &__add {
      bottom: 30px;
      position: absolute;
      right: 40px;
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__author {
    color: $grey-mid;
    font-family: $primary-font;
    font-size: 14px;
    margin: 4px 0;
  }

  &__cover {
    width: 145px;
  }

  &__title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 0;
  }
}
