@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import 'variables';
@import 'colors';
@import 'mixins';

* {
  font-family: $primary-font;
}

html, body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-button {
  color: $dark;
  font-family: $primary-font;
  font-size: 20px;
  height: 20px;
  margin: 50px 0 110px;
  position: relative;
  width: 100%;

  &::before {
    content: url('/assets/images/back-arrow-20.png');
    padding-right: 10px;
    position: relative;
    right: 0;
    top: 3px;
  }

  @media screen and (max-width: $lg) {
    margin: 25px 0;
    width: auto;
  }
}

.container {
  @include container(900px);
}

.container-detail {
  @include container(900px);

  @media screen and (max-width: $lg) {
    align-items: center;
    flex-direction: column-reverse;
  }
}

.container-list {
  @include container(1024px);
}

.content {
  padding: 100px 0 50px;
}
