$dark: rgb(5, 5, 5);
$danger: #FF3B3B;
$grey-dark: #A8A8A8;
$grey-mid: #828282;
$grey-light: #F4F4F4;
$half-black: rgba(0, 0, 0, 0.5);
$light: rgb(250, 250, 250);
$wolox-blue: #00ADEE;
$wolox-green: #BED23C;
