@import 'colors';
@import 'mixins';

.form-input {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  width: 100%;

  &__label {
    font-family: $primary-font;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  &__input {
    border: none;
    border-radius: 5px;
    color: $grey-mid;
    height: 32px;
    padding: 0 10px;
  }

  &__error {
    color: $danger;
    padding: 5px;
  }
}

.primary-action {
  @include button($light, $wolox-green, $wolox-blue, $grey-light, $wolox-blue, $border-hover:true);
  margin-top: 24px;
  width: 100%;

  &:disabled {
    background-color: $grey-mid;
    border-color: $grey-mid;
    color: $light;
  }
}

.secondary-action {
  @include button($wolox-green, $grey-light, $light, $wolox-green, $wolox-green, $border: true);
  width: 100%;
}
