<wb-authentication [buttonPath]="'/sign-up'" [buttonContent]="'Sign-up'">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)" id="login-form" class="login__form">
    <div class="login__email form-input">
      <label id="email-label" class="form-input__label" for="email">Email</label>
      <input class="form-input__input" type="email" name="email" id="email" formControlName="email">
      <span class="form-input__error" *ngIf="emailFC?.hasError('required') && emailFC?.touched">
        El email es requerido
      </span>
      <span
        class="form-input__error"
        *ngIf="emailFC.hasError('email') && emailFC?.touched">
        Formato de email incorrecto
      </span>
    </div>
    <div class="login__password form-input">
      <label id="password-label" class="form-input__label" for="password">Password</label>
      <input class="form-input__input" type="password" name="password" id="password" formControlName="password">
      <span
        class="form-input__error"
        *ngIf="passwordFC?.hasError('required') && passwordFC?.touched">
        El password es requerido
      </span>
      <span
        class="form-input__error"
        *ngIf="passwordFC?.hasError('pattern') && passwordFC?.touched">
        El password debe tener al menos 1 letra mayuscula y 1 numero
      </span>
    </div>
    <button type="submit" class="btnSubmit primary-action" [disabled]="!loginForm.valid">Login</button>
  </form>
</wb-authentication>
