@import 'colors';

%text-title {
  font-size: 20px;
  font-weight: 700;
}

%text-content {
  font-size: 20px;
  color: $grey-light;
}

.detail {
  background-color: #FFF;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.5);
  display: flex;
  height: 416px;
  max-width: 900px;
  padding: 24px;
  width: 100%;

  &__author-title {
    @extend %text-title;
  }

  &__author-content {
    @extend %text-content;
  }

  &__book-genre {
    color: $grey-light;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    height: 30px;
    line-height: 28px;
    width: 98px;
  }

  &__book-title {
    font-size: 32px;
    font-weight: 700;
    height: 39px;
    line-height: 38px;
    width: 210px;
  }

  &__content {
    width: 100%;
  }

  &__cover {
    margin-right: 52px;
    position: relative;
  }

  &__cover-badge {
    left: 200px;
    position: absolute;
    top: -15px;
    transform: rotate(15deg);
    width: 90px;
  }

  &__cover-img {
    height: 368px;
    width: 261px;
  }

  &__editorial-title {
    @extend %text-title;
  }

  &__editorial-content {
    @extend %text-content;
  }

  &__header {
    padding: 15px 0;
    border-bottom: 4px solid #BED23C;
  }

  &__year-title {
    @extend %text-title;
  }

  &__year-content {
    @extend %text-content;
  }

  &__author,
  &__editorial,
  &__year {
    margin: 2rem 0;
  }
}
