.detail {
  box-shadow: 1px 10px 30px 1px rgba(0,0,0,0.2);
  display: flex;
  margin: 0.5rem;
  max-width: 900px;
  padding: 1.5rem;
  width: 100%;

  &__cover {
    margin-right: 3rem;
  }

  &__cover-img {
    width: 260px;
  }

  &__genre {
    font-size: 1.5rem;
  }

  &__header {
    margin: 1.5rem 0;
  }

  &__title {
    font-size: 2rem;
  }

  &__author,
  &__editorial,
  &__year {
    margin: 2rem 0;
  }
}
