@import 'colors';
@import 'variables';

%text-title {
  font-size: 20px;
  font-weight: 700;
}

%text-content {
  color: $grey-light;
  font-size: 20px;
}

.detail {
  box-shadow: 4px 4px 10px 0 $half-black;
  display: flex;
  margin: 50px 0;
  max-width: 900px;
  padding: 24px;
  width: 100%;

  &__book-genre {
    color: $grey-light;
    font-family: $primary-font;
    font-size: 24px;
    font-weight: 700;
    width: 98px;
  }

  &__book-title {
    font-size: 32px;
    font-weight: 700;
  }

  &__content {
    width: 100%;
  }

  &__cover {
    margin-right: 52px;
    position: relative;
  }

  &__cover-badge {
    position: absolute;
    right: -30px;
    top: -15px;
    transform: rotate(15deg);
    width: 90px;
  }

  &__cover-img {
    width: 261px;
  }

  &__header {
    border-bottom: 4px solid $wolox-green;
    padding: 15px 0;
  }

  &__author,
  &__editorial,
  &__year {
    margin: 32px 0;
    &-content {
      @extend %text-content;
    }

    &-title {
      @extend %text-title;
    }
  }
}
