@import 'variables';
@import 'mixins';

.form-input {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  width: 100%;

  &__label {
    font-family: $primary-font;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  &__input {
    height: 32px;
    border: none;
  }
}

.form-divider {
  border: 2px solid $grey-dark;
  width: 100%;
  margin: 16px 0;
}
