@import 'mixins';

.book {
  box-shadow: 4px 4px 10px 0 $half-black;
  height: 300px;
  margin: 18px;
  padding: 28px;
  width: 198px;

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
  }

  &__author {
    color: $grey-mid;
    font-family: $primary-font;
    font-size: 14px;
    height: 14px;
    line-height: 18px;
    margin: 4px 0;
    width: 109px;
  }

  &__cover {
    height: 200px;
    width: 142px;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    height: 15px;
    line-height: 18px;
    margin: 6px 0;
    width: 109px;
  }

}

.container-list {
  @include container(1024px);
  height: 100%;
}
