@import 'colors';

.nav {
  background-color: $light;
  border-top: 6px solid $wolox-blue;
  box-shadow: 0 4px 10px 0 $half-black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  
  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    width: 215px;
  }

  &__logout {
    font-size: 18px;
  }
}
