@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import 'mixins';
@import 'variables';

* {
  font-family: $primary-font;
}

html, body {
  height: 100%;
}

.back-button {

  margin: 50px 0 110px 0;
  width: 100%;
  
  &__link {
    
    font-size: 20px;
    height: 20px;
    line-height: 24px;
    width: 91px;
    position: relative;

    // width: 59px;

    &::before {
      content: url('../../assets/back-arrow-20.png');
      padding: 0 10px 0 0;
      position: relative;
      top: 2.5px;
      bottom: 0;
      right: 0;
    }
  }

}

.container {
  @include container(900px);
  height: 100%;
}

.container-list {
  @include container(1024px);
  height: 100%;
}


.content {
  padding-top: 70px;
}
