@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import 'colors';
@import 'mixins';

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height:100%;
}

// %container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   margin: 0 auto;
//   // width: 900px;
//   // height: 100%; Enable later
// }

.container {
  @include container(900px)
}

.container-detail {
  @include container(900px)
}

.container-list {
  @include container(1024px)
}

.content {
  padding-top: 70px;
}


.back-button {

  margin: 50px 0 110px 0;
  width: 100%;
  
  &__link {
    
    color: #000;
    font-family: Roboto;
    font-size: 20px;
    height: 20px;
    line-height: 24px;
    width: 91px;
    position: relative;

    // width: 59px;

    &::before {
      content: url('../../assets/back-arrow-20.png');
      padding: 0 10px 0 0;
      position: relative;
      top: 2.5px;
      bottom: 0;
      right: 0;
    }
  }

}
