// COLORS

$light: rgb(250, 250, 250);
$dark: rgb(5, 5, 5);

$grey-dark: #A8A8A8;
$grey-mid: #828282;
$grey-light: #F4F4F4;

$wolox-blue: #00ADEE;
$wolox-green: #BED23C;
$half-black: rgba(0,0,0,0.5);

// FONTS

$primary-font: "Roboto", sans-serif;

